body {
    background-image: url(horse.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

input[type=button] {
    background-color: #1491BA;
    border: none;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}